<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>UserActivity.log</file>

        <encoder>
            <pattern>%date %level %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.zalando" level="TRACE">
        <appender-ref ref="FILE" />
    </logger>

</configuration>